<main>
    <div class="container-fluid px-4 py-5">
        <h1 class="mt-4">Blocs</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">List des bloc</li>
        </ol>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th class="text-center"><span>User</span></th>
                                    <th class="text-center"><span>Created</span></th>
                                    <th class="text-center"><span>Status</span></th>
                                    <th class="text-center"><span>Email</span></th>
                                    <th class="text-center"><span>Actions</span></th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr >
                                    <td>
                                        <img src="" alt="">
                                        <a href="#" class="user-link"></a>
                                        <span class="user-subhead"></span>
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td class="text-center">
                                        <span class="label label-default"></span>
                                    </td>
                                    <td>
                                        
                                    </td>
                                    <td style="width: 10%;">
                                        <div class="text-center">
                                            <a class="fas fa-pencil-square-o m-2" routerLink="/back/bloc/editbloc"></a>
                                            <a class="fas fa-trash m-2" href="#" ></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination pull-right">
                        <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
